<header>
    <h1>
    {{pageTitle}}
    </h1>123
    <p><a href="/">home</a></p>
    <p><a href="/about">about</a></p>
    <p><a href="/bad">bad</a></p>
    <p><a href="/maintainence">maintainence</a></p>
</header>